<settings>
<category label="FilmOn Settings">
	<setting id="filmon" type="bool" label="FILMON ACCOUNT" default="false"/>
	<setting id="user" type="text" label="Email" default="" enable="!eq(-1,false)"/>
	<setting id="pass" type="text" option="hidden" label="Password" default="" enable="!eq(-2,false)"/>
    <setting type="sep" />
	<setting id="res" type="enum" values="Any|360p|480p" label="Preferred Resolution:" default="0" />
    <setting type="sep" />
	<setting id="firstrun" type="bool" label="DO NOT TOUCH" default="false" visible="false"/>
    <setting type="sep" />
	<setting id="epgper" type="bool" label="EPG Per Channel" default="false"/>
	<setting id="epgrun" type="bool" label="DO NOT TOUCH" default="false" visible="false"/>
</category> 	

<category label="Auto-View">
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="epg" type="number" label="EPG View" default="503" enable="!eq(-1,false)"/>
	<setting id="default" type="number" label="EVERY THING ELSE" default="500" enable="!eq(-1,false)"/>
</category>
</settings>