<settings>

<category label="Easy News">
	<setting id="easy_account" type="bool" label="30300" default="false"/>
	<setting id="easy_user" type="text" label="Username" default="" enable="!eq(-1,false)"/>
	<setting id="easy_pass" type="text" option="hidden" label="Password" default="" enable="!eq(-2,false)"/>
</category>   	
<category label="TV Settings">
	<setting id="tvfilename" type="enum" values="Any|AVI|MKV|MP4|ISO|DIVX|MPG|FLV|WMV|MOV|ASF|RM" label="Tv File Extension" default="0" />
	<setting id="tvfilesize" type="enum" values="Any|300Mb|400Mb|500Mb|750M|1Gb|1.5Gb|2Gb|3Gb|4Gb|5GB|6Gb" label="Tv Minimum File Size" default="2" />
</category>
<category label="Movie Settings">
	<setting id="moviefilename" type="enum" values="Any|AVI|MKV|MP4|ISO|DIVX|MPG|FLV|WMV|MOV|ASF|RM" label="Movie File Extension" default="0" />
	<setting id="moviefilesize" type="enum" values="Any|300Mb|400Mb|500Mb|750M|1Gb|1.5Gb|2Gb|3Gb|4Gb|5GB|6Gb" label="Movie Minimum File Size" default="2" />
</category>	
<category label="Auto-View">
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="movies-view" type="number" label="Movies View" default="50" enable="!eq(-1,false)"/>
	<setting id="tvshows-view" type="number" label="TV Shows View" default="50" enable="!eq(-2,false)"/>
	<setting id="seasons-view" type="number" label="Seasons View" default="50" enable="!eq(-3,false)"/>
	<setting id="episodes-view" type="number" label="Episodes View" default="50" enable="!eq(-4,false)"/>
	<setting id="easy-view" type="number" label="Easy News View" default="50" enable="!eq(-5,false)"/>
	<setting id="default-view" type="number" label="Default View" default="50" enable="!eq(-5,false)"/>
</category>
</settings>