<settings>
<category label="XBMCHUB">
	<setting id="filmon" type="bool" label="FILMON ACCOUNT" default="false"/>
	<setting id="user" type="text" label="Email" default="" enable="!eq(-1,false)"/>
	<setting id="pass" type="text" option="hidden" label="Password" default="" enable="!eq(-2,false)"/>
    <setting type="sep" />
	<setting id="res" type="enum" values="Any|360p|480p" label="File Extension:" default="0" />
    <setting type="sep" />
	<setting id="message" type="bool" label="Turn Pop Up Message Off Please" default="false"/>
</category> 	

<category label="Auto-View">
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="epg" type="number" label="EPG View" default="503" enable="!eq(-1,false)"/>
	<setting id="default" type="number" label="EVERY THING ELSE" default="50" enable="!eq(-1,false)"/>
</category>
</settings>